@model Store.Models.tb_pet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_pet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pet_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pet_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.species)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.species)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.breed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.breed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateofbirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateofbirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
